

*{
    box-sizing: border-box;
}

h2 {
    margin-bottom: 0;
}

p {

    font-size: 16px;
    margin-top: 0;
    overflow-wrap: break-word;
    text-align: left; 
    line-height: 1.3;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    background-color: #1abc9c;
    color: white;
    text-align: center;
    padding: 60px;
}

header h1 {
    font-size: 50px;
}

header p {
    font-size: 18px;
    text-align: center;

}


nav {
    background-color: #363434;
    padding: 10px;
    display: flex;
}
nav a {
    color: white;
    padding: 5px 25px;
    font-size: 20px;
    text-decoration: none;
}

nav button {
background: transparent;
    border: none;
    color: white;
    padding: 5px 1px;
    cursor: pointer;
}
nav button:hover{
    background-color: rgba(255, 255, 255, 0.15);
    border-radius: 5px;
}

aside {
    background-color: #ececec;
    padding: 15px 20px;
    width: 18%;
    
}

.coluna {
    display: flex;
}

.centro {
    margin: 20px 30px;
    flex: 1;
    min-width: 0;
}
.centro img {
    max-width: 100%;
    height: auto;
}
.lateral-direita {
    margin: 20px;
    width: 12%;    
}
.rodape p {
    margin: 0px;
    background-color: #555;
    padding: 20px;
    text-align: center;
    color:white;
}



@media (max-width: 700px) {

    nav {
        flex-direction: column;
        align-items: center;
    }

    .coluna {
        flex-direction: column;
    }

    .centro {
        width: 100%;
        margin: 20px 0;
    }

    aside {
        width: 100%;

    }
   .lateral-direita {
        width: 100%;
        margin: 20px 0;
    }

    nav button {
        width: 100%;
        padding: 15px;
    }

    nav button:hover {
        background-color: rgba(255, 255, 255, 0.15);
        border-radius: 5px;
    }
}