

*{
    box-sizing: border-box;
}

body {
    margin: 0;
}

header {
    background-color: #1abc9c;
    color: white;
    text-align: center;
    padding: 60px;
}

header h1 {
    font-size: 50px;
}

header p {
    font-size: 18px;
}


.link {
    background-color: #363434;
    padding: 10px;
    flex-direction: row;
    display: flex;
}
.link a {
    color: white;
    padding: 5px 25px;
    font-size: 20px;
    text-decoration: none;
}
.lateral-esquerda {
    background-color: #a09e9e;

    padding: 100px 20px;
    width: 17%;
}
.coluna {
    display: flex;
    flex-direction: row;
}

.centro {
    margin: 20px 30px;
    flex: 1;
    min-width: 0;
}
.centro img {
    max-width: 100%;
    height: auto;
}
.lateral-direita {
    margin: 20px;
    width: 20%;    
}
.rodape p {
    margin: 0px;
    background-color: #555;
    padding: 20px;
    text-align: center;
    color:white;
}



@media (max-width: 700px) {

    .link {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .coluna {
        display: flex;
        flex-direction: column;
    }

    .centro {
        width: 100%;
        margin: 20px 0;
    }

    .lateral-esquerda {
        width: 100%;

    }
   .lateral-direita {
        width: 100%;
        margin: 20px 0;
    }
}